h2 {
  text-align: center;
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: black;
}

.stories-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}