h2 {
  text-align: center;
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: black;
}

.stories-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5vh;
  justify-items: center;
}

@media screen and (max-width: 725px) {
  .stories-holder {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15vw;
    grid-row-gap: 10vh;
  }
}

@media screen and (max-width: 550px) {
  h2 {
    font-size: 1.25rem;
  }

  .story-title {
    font-size: 1rem;
  }

  .story-byline, .story-date {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 440px) {
  h2 {
    font-size: 1rem;
  }

  .stories-holder {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10vh;
  }
}
