h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  color: black;
}

.topics-container {
  display: flex;
  justify-content: space-evenly;
}

.topic {
  cursor: pointer;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  color: black;
}

.topic:hover {
  text-decoration: underline;
}
