h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  color: black;
}

.topics-container {
  display: flex;
  justify-content: space-evenly;
  border-top: 0.5px solid gray;
  border-bottom: 5px double black;
}

.topic {
  cursor: pointer;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  color: black;
}

.topic:hover {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.5rem;
  }
  .topic {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 1.25rem;
  }
  .topic {
    font-size: 0.75rem;
  }
}